.nav-tabs-book {
    text-transform: unset !important;
    border-bottom: none;
}

.nav-tabs-book>li {
    width: 50%;
    background: #cdcdcd;
    margin-bottom: 0;
}

.nav-tabs-book li.active {
    background: #ff9900 !important;
}

.nav-tabs-book>li>a {
    font-size: 14px;
    color: #999999;
    border: none;
    margin-right: 0;
    border-radius: 0;
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-tabs-book>li>a .icn {
    font-size: 24px;
    margin-right: 15px;
}

.nav-tabs-book>li.active>a {
    text-transform: none;
    text-align: center;
}

.nav-tabs-book>li>a:hover {
    background-color: transparent;
    color: #999999;
}

.nav-tabs-book>li>a .icn_normal {
    display: block;
}
.nav-tabs-book>li>a .icn_hover {
    display: none;
}

.nav-tabs-book>li.active>a .icn_normal,
.nav-tabs-book>li>a:hover .icn_normal {
    display: none;
}

.nav-tabs-book>li.active>a .icn_hover,
.nav-tabs-book>li>a:hover .icn_hover {
    display: block;
}

.nav-tabs-book li.phuongthuc {
    text-align: right;
}

.nav-tabs-book li.phuongthuc a.phuongthuca {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

.nav-tabs-book li a.xuathoadon {
    padding-right: 0px;
    margin-right: 0px;
    text-align: center;
}

.content-visa-item {
    border: 1px solid #ccc;
    /* width: 300px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: #a9a9a9; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.content-visa-item-xuat-hoa-don {
    border: 1px solid #ccc;
    /* width: 300px; */
    padding-top: 10px;
    padding-bottom: 10px;
    /* color: #a9a9a9; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.info-hoa-don {
    margin-top: 20px;
}

.clss-xuat {
    margin-bottom: 10px;
    color: #a9a9a9;
}

.conten-vanphong {
    border: 1px solid #ccc;
    padding: 10px;
    /* padding-bottom: 10px; */
    /* color: #a9a9a9; */
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.info-hotel {
    display: flex;
    align-items: center;
}


.info-hotel {
    margin-bottom: 15px;
}
.info-hotel img {
    max-width: 90px;
}

.info-hotel strong {
    color: #603;
    font-size: 14px;
    margin-left: 15px;
}

.cl-grey {
    color: #a9a9a9;
}

.cl-black {
    color: #323232;
}

.cl-gray {
    color: #666;
}

.cl-tim {
    color: #660033;
}

.cl-red {
    color: #cc0000;
}

.cl-blue {
    color: #006666;
}

.cl-bold {
    font-weight: bold;
}

.clss-content-book {
    border: 1px solid #ccc;
    padding: 15px;
}

.clss-content-book p {
    line-height: normal;
    margin-bottom: 10px;
}

.clss-content-book p:last-child {
    margin-bottom: 0;
}

.content-item-text {
    background: #FFF;
    padding: 15px;
    border-bottom: 2px solid #CCC;
}

.block-code-sale {}
.block-code-sale .ttl {
    padding: 15px;
}
.block-code-sale .block-btn-inline {
    background: #FFF;
    padding: 15px;
    border: 1px solid #CCC;
}

.button-tim {
    background: #660033;
    border: 1px solid #CCC;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
}

.clss-tongthanhtoan {
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.clss-tongthanhtoan:last-child {
    padding-bottom: 0;
}

.clss-dathanhtoan {
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.clss-conlai {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
}

.clss-finish {
    text-align: center;
    color: #666;
    padding: 15px;
}

.padding-top-10 {
    padding-top: 10px;
}

.content-huyphong {
    background: #FFF;
    padding: 15px;
}

.line-book {
    border-top: 1px solid #cccc;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-tabs-book-combox li {
    width: calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: -webkit-calc(100% / 3);
    width: -o-calc(100% / 3);
}

.nav-tabs-book .xuathoadon {
    width: 143px;
}

.nav-tabs-book .phuongthuca {}

.nav-tabs-book .dieukiensudung {
    width: 139px;
}

.cotent-huyphong div span {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block-tab-order {
    font-family: "Arial", sans-serif;
}

.block-tab-order .tab-content {
    /*border: 1px solid #DDD;
    background: #FFF;*/
    /*border-top: none;*/
    /*padding: 20px;*/
}

.block-requirement {
    border: 1px solid #DDD;
    padding: 10px;
    margin-bottom: 10px;
}

.block-btn-inline .form-group>* {
    float: left;
}

.block-btn-inline .coupon {
    width: calc(100% - 148px);
    width: -moz-calc(100% - 148px);
    width: -webkit-calc(100% - 148px);
}

.block-btn-inline .applycoupon {
    width: 132px;
    margin-left: 16px;
}

.block-couponmsg {
    background: #cdcdcd;
    color: #2e5753;
    padding: 8px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.block-payment .block-title {
    position: relative;
    font-size: 13px;
    height: 39px;
    line-height: 39px;
    /*background: #cdcdcd;*/
    text-align: left;
    margin-left: 15px;
    color: #660033;
}

.block-payment .block-title .num {
    position: absolute;
    width: 44px;
    text-align: center;
    background: #660033;
    color: #FFF;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.block-payment_inner {
    background: #FFF;
    border: 1px solid #DDD;
    background: #FFF;
    padding: 20px;
}

.fontf_arial {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.block-panel-info .form_title {
    font-weight: normal;
}

.block_methodpay {
    background: #e5e5e5;
    border: 1px solid #CCC;
}

.block_methodpay .block_title {
    color: #660033;
    font-weight: bold;
    padding: 15px;
}

.block_methodpay .block_content {
    background: #FFF;
    padding: 15px;
}

.block_methodpay .note {
    margin-bottom: 10px;
    background: #FFF;
}

.block_methodpay_items {
    padding: 0;
}

.block_methodpay_item {
    margin-bottom: 10px;
}

.block_methodpay_item:last-child {
    margin-bottom: 0;
}

.block_methodpay_item .checkbox {
    background: #f0f0f0;
    color: #666;
    border: 1px solid #666;
    padding: 10px;
    margin: 0;
}

.m_checkbox_sh {
    margin-bottom: 20px;
}

.m_checkbox_sh:last-child {
    margin-bottom: 0;
}

.m_checkbox_sh .m_checkbox_ttl {
    background: #f0f0f0;
    color: #666;
    border: 1px solid #666;
    padding: 10px;
}

.m_checkbox_sh .m_checkbox_ttl label {
    margin-bottom: 0;
    font-weight: normal;
}

.m_checkbox_sh .m_checkbox_content {
    display: none;
    margin-top: 20px;
}

.m_checkbox_sh .m_checkbox_ttl input[type='checkbox'] {
    display: none;
    margin: 0;
}

.m_checkbox_sh .m_checkbox_ttl input[type='checkbox']+span {
    background: url(../img/check-gray.png) no-repeat center left;
    margin-right: 20px;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.m_checkbox_sh .m_checkbox_ttl input[type='checkbox']+span:hover {
    background: url(../img/check-gray-hover.png) no-repeat;
}

.m_checkbox_sh .m_checkbox_ttl input[type='checkbox']:checked+span {
    background: url(../img/checked-gray.png) no-repeat;
}

.block-info-time-book,
.block-details-book {
    background: #FFF;
    padding: 15px;
    border-bottom: 2px solid #ff9900;
}
.block-details-book {
    border-bottom: 1px solid #CCC;
}
.block-details-book h2 {
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    color: #603;
    margin-bottom: 5px;
}