/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "AndesRounded-ExtraBold";

  src: url("./fonts/AndesRoundedExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}